@model PROG7311_Task2.Models.AcmeIncTask2db.Admins

@{
    ViewData["Title"] = "Create";
}

<h1>Sign In</h1>

<h4>Administrator</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <p>Username</p>
                <input asp-for="UserSurname" class="form-control" />
                <span asp-validation-for="UserSurname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <p>Password</p>
                <input asp-for="UserPassword" type="password" class="form-control" />
                <span asp-validation-for="UserPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Signup" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
