@model PROG7311_Task2.Models.AcmeIncTask2db.Admins

@{
    ViewData["Title"] = "Details";
}

<h1>Admin Details</h1>

<div>
    <h4>Administrator</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserPassword)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserPassword)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.UserSurname">Edit</a> |
    <a asp-action="Index">Back to Previous Page</a>
</div>
